<div class="container">
  <div class="app-header">
    <h1 class="app-title">
      <i class="fas fa-tasks"></i> Todo Master Pro
    </h1>
    <p class="app-subtitle">Organize your life with modern Angular power</p>
    <app-tasks-summary [todoTasks]="todoTasks" [inProgressTasks]="inProgressTasks" [doneTasks]="doneTasks">
    </app-tasks-summary>
  </div>
  <div class="input-section">
    <div class="input-container">
      <input type="text" class="todo-input" placeholder="Enter your task !!" [(ngModel)]="taskName"
        (keyup.enter)="addTask()" #todoInput>
      <button class="add-button" (click)="addTask()">
        <i class="fas fa-plus"></i>
        Add Task
      </button>
    </div>
  </div>


  <div class="container-box">
    <div class="todo-section starting-section border" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'todo')">
      <h4 class="todo-section-heading todo">Todo Task</h4>
      <ul>
        <li *ngFor="let task of todoTasks" class="task-item" draggable="true"
          (dragstart)="onDragStart($event, task, 'todo')">

          <div class="task-content">
            <span class="task-text"> {{ task }} </span>
            <div class="task-actions">
              <span class="start-task" (click)="moveTask(task, 'todo', 'inProgress')">Start</span>
              <span class="end-task" (click)="moveTask(task, 'todo', 'done')">End</span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="todo-section pending-section border" (dragover)="onDragOver($event)"
      (drop)="onDrop($event, 'inProgress')">
      <h4 class="todo-section-heading ongoing">Ongoing Task</h4>
      <ul>
        <li *ngFor="let task of inProgressTasks" class="task-item" draggable="true"
          (dragstart)="onDragStart($event, task, 'inProgress')">
          <div class="task-content">
            <div class="task-text">
              {{ task }}
            </div>
            <div class="task-actions">
              <span class="end-task" (click)="moveTask(task, 'inProgress', 'done')">End</span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="todo-section completed-section border" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'done')">
      <h4 class="todo-section-heading done">Done Task</h4>
      <ul>
        <li *ngFor="let task of doneTasks" class="task-item" draggable="true"
          (dragstart)="onDragStart($event, task, 'done')">
          ✅ <span class="done-text">{{ task }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>