
<div class="flex-grow-1 container mt-3 mb-3"> 
  <h2 class="text-center underline">Drag and Drop Task Board</h2>

  <div class="mt-2 mb-2 p-2 border">
    <label for="task" class="form-label">Add Task</label>
    <input type="text" class="form-control" id="task" [(ngModel)]="taskName" (keydown.enter)="addTask()">
    <button class="btn btn-sm btn-success mt-2" (click)="addTask()">Add the task</button>
  </div>

  <div class="row">
    <div class="border col col-md-4 gap-1"
         (dragover)="onDragOver($event)"
         (drop)="onDrop($event, 'todo')">
      <h4 class="text-center my-2 border shadow py-1 bg-info">Todo Task</h4>
      <ul>
        <li *ngFor="let task of todoTasks"
            draggable="true"
            (dragstart)="onDragStart($event, task, 'todo')"
            class="border p-1 m-1 bg-light bg-gradient">
          {{ task }}
        </li>
      </ul>
    </div>

    <div class="border col col-md-4 gap-1"
         (dragover)="onDragOver($event)"
         (drop)="onDrop($event, 'inProgress')">
      <h4 class="text-center my-2 border shadow py-1 bg-info">Ongoing Task</h4>
      <ul>
        <li *ngFor="let task of inProgressTasks"
            draggable="true"
            (dragstart)="onDragStart($event, task, 'inProgress')"
            class="border p-1 m-1 bg-light bg-gradient">
          {{ task }}
        </li>
      </ul>
    </div>

    <div class="border col col-md-4 gap-1"
         (dragover)="onDragOver($event)"
         (drop)="onDrop($event, 'done')">
      <h4 class="text-center my-2 border shadow py-1 bg-info">Done Task</h4>
      <ul>
        <li *ngFor="let task of doneTasks"
            draggable="true"
            (dragstart)="onDragStart($event, task, 'done')"
            class="border p-1 m-1 bg-light bg-gradient">
          {{ task }}
        </li>
      </ul>
    </div>
  </div>
</div>
